
* { 
    padding: 0; 
    margin: 0; 
}

body { 
    background-color: #0C020B;
    width: 100%;
}


#start {
    margin-top: 10em; 
    align-items: center;
    font-family: tinos;
    color: #E4F5FF;
    align-items: center;
}

.arab {
    font-family: tinos;
    font-size: 2em;
}

.eng {
    font-size: 2em;
}

.default li::before {
  content: ""; 
}

.default li b {
    font-weight: bold; 
    font-size: 1.1em;
    color: #E4F5FF;;
}

.glow {
    box-shadow: 0 0 1em #E4F5FF;
}

/* .glow2 {
    max-width: 10vw;
} */


a {
    font-family:tinos;
    color:#4F9D69;
    text-decoration: none; 
}

a:hover {
    color:#CD4631;
    text-decoration: none; 
}


h1 {
    color: #E4F5FF;
    font-size: 1.5em;
    font-weight: bold;
}

.default {
  list-style: none; 
  padding: 0;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin {
    animation: spin 5s linear;
    animation-iteration-count: infinite;
}

@keyframes float {
    from { transform: rotate(0deg); }
    to { transform: rotate(10deg); }
}



img:hover
{
    animation-duration: 1s;
    animation-name: float;
    transition:  ease-in-out 0s;
} 
