
body { 
    background-color: #0C020B;
}

.container {
    margin-top: 3em; /* Responsive margin */
    align-items: center;
} 

h1 {
    color: #E4F5FF;
    font-family: tinos !important;
    padding: 1rem; 
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10vh;
}

h2 {
    color: #E4F5FF;
    font-family: tinos !important;
    padding: 1rem; 
    font-size: 1.5rem;
    text-align: center;
    margin-top: -3vh;
    font-weight: 100;

}

.card{
    background-color: #0C020B;
}

.card-img-top{
    /* object-fit: contain; */
    height: 20vh;
}

.card-title {
    font-family: tinos !important;
    font-size: 1.5em;
    font-weight: bold;
}


.card-text {
    font-family: tinos !important;
    font-size: 1em;
}

.card-body {
    font-family: tinos !important;
    color: #E4F5FF;
}

.glow {
    box-shadow: 0 0 0.3em #E4F5FF;
}

.timeline {
    color: #E4F5FF;
}


.card-subtitle, .card-title {
    margin: 0; 
    padding: 0; 
    color: #E4F5FF;
    font-family: tinos !important;
}


.bsb-timeline-1{
    --bsb-tl-color:#E4F5FF;
    --bsb-tl-circle-color:#E4F5FF;

}

.card-title {
    padding: none;
    margin: none;
    text-align: left;

}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin {
    animation: spin 5s linear;
}