@font-face {
    font-family: futura;
    src: url(images/futur.ttf);
}

@font-face {
    font-family: glam;
    src: url(images/GlamourBouquet-GOjMm.ttf);
}

body { 
    background-color: #0C020B;
}

.navbar-brand{
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
}

#logot{
    position: absolute;
    transform: translate(-1.5vw, 1vh);
    font-family: glam;
    font-size: 2rem;
    color: black;
}

.navbar {
    background-color: #E4F5FF;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%; 
    top:0;
    right:0;
    left: 0;
    z-index: 100;
}


.navbar .nav-link {
    display: inline-block;
    padding: 0.5em 1.5em;  
    font-size: 1em; 
    background-color: #0C020B; 
    border-radius: 0.5em;  
    text-decoration: none;  
    margin-right: 0.5em;  
    color: #E4F5FF !important; 
    text-decoration: none !important;
    font-family: tinos !important; 
}


/* place name and roles absolutely on center of screen, with the roles directly under */ 

.myname {
    font-family: tinos;
    font-size: 8rem; 
    color: #E4F5FF;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.roles {
    font-family: tinos;
    font-size: 3rem; 
    color: #E4F5FF;
    margin-top: 12vh;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
