@font-face {
    font-family: futura;
    src: url(images/futur.ttf);
}

@font-face {
    font-family: glam;
    src: url(images/GlamourBouquet-GOjMm.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');

@font-face {
    font-family: arabic;
    src: url(images/JannaLTBold.ttf);
}


@font-face {
    font-family: ger;
    src: url(images/gerald.ttf);
}


body { 
    background-color: #0C020B;
}

.navbar-brand{
    position: absolute;
    left: 0;
    top: 0;
}

#logo {
    width: max(7vh, 50px) !important;
    height: max(7vh, 50px) !important;

}

#logot{
    position: absolute;
    /* left: 3vh;
    top: 2vh; */
    transform: translate(-1vw, 1vh);
    font-family: ger;
    font-size: max(4vh, 30px);
    color: black;
    font-weight: bold;
    min-height: 10px; 
}

.navbar {
    background-color: #E4F5FF;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%; 
    top:0;
    right:0;
    left: 0;
    z-index: 100;
    min-height: 8vh;
}


.navbar .nav-link {
    display: inline-block;
    padding: 0.5em 1.5em;  
    font-size: 1em; 
    background-color: #0C020B; 
    border-radius: 0.5em;  
    text-decoration: none;  
    margin-right: 0.5em;  
    color: #E4F5FF !important; 
    text-decoration: none !important;
    font-family: tinos !important; 
}


.myname {
    font-family: tinos;
    font-size: 10vw; 
    color: #E4F5FF;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.roles {
    font-family: tinos;
    font-size: 3vw; 
    color: #E4F5FF;
    margin-top: 7vw;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin {
    animation: spin 5s linear;
    animation-iteration-count: infinite;
}
